* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

#header-container {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1e1e1e;
  position: relative;
}

#header-container header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: white;
}

.logo {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.search-bar input {
  width: 250px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid #000;
  background: #fff;
  margin-right: 20px;
}

.menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.menu {
  display: flex;
}

.menu nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.menu nav ul li a {
  color: white;
  text-decoration: none;
}

#banner-container {
  width: 100%;
  flex-shrink: 0;
}

#banner-container .banner img {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

#categories-container {
  display: flex;
  width: 100%;
  height: 100%;
}

#categories-container .categories {
  width: 100%;
  height: 100%;
  padding: 100px 150px;
  display: flex;
  flex-direction: column;
}

#categories-container .categories-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categories-header .categories-title {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.categories-header .categories-link a {
  color: #000;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.categories-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.categories-cards .cards a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 20px;
}

.categories-cards .cards p {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.categories-cards .cards img {
  width: 50px;
  height: 50px;
  background: #fff;
  margin-bottom: 10px;
}

#recipes-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding: 0px 100px;
}

.recipes {
  width: 90%;
  max-width: 1200px;
  text-align: center;
}

.recipe-title h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #000;
  padding-bottom: 50px;
}

.recipes-cards {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.recipe-card a {
  text-decoration: none;
}

.recipe-card {
  width: 200px;
  border-radius: 10px;
  padding: 15px;
  text-align: left;
}

.recipe-card img {
  width: 200px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.recipe-card h2 {
  font-size: 16px;
  margin-top: 10px;
  color: #000;
}

button {
  width: 200px;
  height: 40px;
  flex-shrink: 0;
  all: unset;
  background-color: #000;
  color: white;
  padding: 8px;
  border-radius: 8px;
  margin: 50px 0;
  cursor: pointer;
}

button span {
  font-weight: 200;
  font-size: 14px;
}

.mask-group {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  overflow: hidden;
  margin-top: 150px;
  margin-bottom: 150px;
}

.content {
  position: relative;
  z-index: 2;
}

.content p {
  font-size: 24px;
  font-weight: 600;
}

.decor {
  position: absolute;
  width: 150px;
  opacity: 0.9;
}

.decor-top-left {
  top: 0;
  left: 0;
  transform: translate(-20%, -10%);
}

.decor-top-right {
  top: 0;
  right: 0;
  transform: translate(20%, 0%);
}

.decor-bottom-left {
  bottom: 0;
  left: 0;
  transform: translate(-20%, 0%) scale(1, -1);
}

.decor-bottom-right {
  bottom: 0;
  right: 0;
  transform: translate(20%, 10%) scale(-1, -1);
}

.footer {
  background-color: #111;
  color: white;
  padding: 20px 40px;
  text-align: left;
}

.footer-content {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;

  border-bottom: 1px solid #444;
}

.footer-section {
  margin: 10px;
}

.footer-section h3 {
  font-size: 14px;
  color: #98a2b3;
  margin-bottom: 10px;
}

.footer-section a {
  display: block;
  color: #667085;
  text-decoration: none;
  font-size: 14px;
  margin: 5px 0;
}

.footer-section a:hover {
  color: white;
}

.newsletter {
  display: flex;
  flex-direction: column;
}

.newsletter-input {
  display: flex;
  align-items: center;
  border: 1px solid #98a2b3;
  border-radius: 8px;
}

.newsletter input {
  padding: 8px;
  width: 200px;
  border: none;
  border-radius: 4px;
  margin-right: 5px;
  color: #98a2b3;
  background: none;
}

.newsletter .newsletter-button {
  all: unset;
  display: flex;
  width: 50px;
  border-radius: 8px;
  background-color: white;
  color: #000;
  padding: 8px;
  margin: 8px;
  align-items: flex-end;
  gap: 10px;
}

.newsletter .newsletter-title {
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.newsletter button:hover {
  background-color: #0056b3;
}

.social-icons {
  text-align: center;
  margin-top: 15px;
}

.social-icons a {
  color: #aaa;
  margin: 0 10px;
  font-size: 18px;
  text-decoration: none;
}

.social-icons a:hover {
  color: white;
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
  font-size: 12px;
  color: #aaa;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  font-size: 24px;
  color: #333;
}

/* Responsividade */
@media screen and (max-width: 1024px) {
  .categories-cards,
  .recipes-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }

  .categories-cards .cards,
  .recipe-card {
    width: 100%;
    max-width: 200px;
  }
}

@media screen and (max-width: 768px) {
  .categories-cards,
  .recipes-cards {
    grid-template-columns: repeat(4, 1fr);
  }

  .categories-cards .cards,
  .recipe-card {
    max-width: 100%;
  }

  .categories-header {
    padding: 0;
    width: 100%;
    gap: 50px;
  }

  .categories-cards .cards img,
  .recipe-card img {
    max-width: 100%;
  }
  .menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 20px 0;
    flex-direction: column;
    align-items: center;
  }

  .menu.open {
    display: flex;
  }

  .menu nav ul {
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }

  .menu-toggle {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  #header-container header {
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .logo {
    display: none;
  }

  .search-bar input {
    width: 200px;
  }

  .categories-cards {
    grid-template-columns: repeat(4, 1fr);
  }

  #recipes-container {
    padding: 0;
    width: 100%;
  }

  .recipes-cards {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .recipe-card {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .recipes-cards .recipe-card img {
    width: 100%;
    height: 200px;
  }

  .categories-cards .cards,
  .recipe-card {
    max-width: 100%;
  }

  .categories-cards .cards img,
  .recipe-card img {
    max-width: 100%;
  }
}
